.landing-page {
  display: flex;
  flex-direction: column;
  gap: 3.875rem;
}

@media screen and (min-width: 450px) {
  .landing-page {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 500px) {
  .landing-page {
    max-width: 80%;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .landing-page {
    margin: none;
    max-width: none;
  }
}
