.ue-page-wrapper {
  margin-top: 3rem;
  padding: 0 calc(var(--base-padding));
}

.ue-page-current-chapter {
  margin: 0 auto;
}

.ue-page-header {
  margin-bottom: 1rem;
}

.ue-title {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: $desktop-breakpoint) {
  .ue-page-wrapper {
    display: flex;
    flex-flow: row;
    padding: 0 calc(var(--base-padding) * -1);
    margin-top: 0;
    width: 100%;

    align-items: flex-start;
    align-content: flex-start;

    .sidebar-wrapper {
      width: 25%;
      flex-shrink: 0;
      padding-left: var(--base-padding);
    }

    .ue-page-current-chapter {
      width: 75%;
      animation: fadeIn 0.25s;
      background-color: #f8f9fa;
    }
  }

  .ue-page-header {
    text-align: center;
    background-color: #f8f9fa;
    padding: 2.25rem 0;
    margin-bottom: 0;
  }

  .sidebar-list__item {
    font-size: 1rem;
  }
}
