$desktop-breakpoint: 1200px;
$tablet-breakpoint: 660px;

:root {
  --main-text-color: #333;
  --secondary-text-color: #68717a;
  --disabled-text-color: #adb5bd;
  --primary-color: #0d6efd;
  --primary-color-accent: #0a58ca;
  --secondary-color: #17a2b8;
  --secondary-color-accent: #0f92a7;
  --tertiary-color: #333;
  --tertiary-color-accent: #444;
  --base-padding: 1.5rem;
  --stroke-light: #dee2e6;
  --base-font-size: 16px;
  --rounded: 4px;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

body {
  font-family: "Inter";
  color: #333;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

@media (max-width: 375px) {
  :root {
    --base-font-size: 13px;
  }
}

@media (min-width: $desktop-breakpoint) {
  :root {
    --base-padding: 3rem;
  }
}

@mixin removeScrollBar() {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.temp-class {
  background-color: var(--primary-color);
  padding: 0.75em 1em;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: var(--primary-color-accent);
  }
}
