:root {
  --main-text-color: #333;
  --secondary-text-color: #68717a;
  --primary-color: #0d6efd;
  --secondary-color: #17a2b8;
  --tertiary-color: #333;
  --base-padding: 48px;
}

body,
html {
  overflow-x: hidden;
}

body {
  font-family: "Inter";
  color: #333;
}
