.text--extra-header4 {
  font-weight: bold;
  font-size: 48px;
}

.text--semi-header4 {
  font-size: 48px;
  font-weight: 600;
}

.text--header2 {
  font-weight: bold;
  font-size: 64px;
}

.text--header5 {
  font-weight: bold;
  font-size: 40px;
}

.text--header6 {
  font-weight: bold;
  font-size: 32px;
}

.text--base-text {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}

.text--small-text {
  font-size: 24px;
  font-weight: 400;
}

.text--color-primary {
  color: var(--primary-color);
}

.text--color-sub {
  color: var(--secondary-text-color);
}

.mt-section {
  margin-top: 136px;
}
