$headerNumber: 6;
$base-font-size: 32px;

@function defineFontSize($index) {
  @return $base-font-size + 8 * (6 - $index);
}

@for $i from 1 through $headerNumber {
  .text--header#{$i} {
    font-weight: bold;
    font-size: defineFontSize($i);
  }

  .text--semi-header#{$i} {
    font-weight: 600;
    font-size: defineFontSize($i);
  }

  .text--extra-header#{$i} {
    font-weight: 900;
    font-size: defineFontSize($i);
  }
}

.text--base-text {
  font-size: $base-font-size;
}

.text--color-primary {
  color: var(--primary-color);
}

.text--color-sub {
  color: var(--secondary-text-color);
}

.mt-section {
  margin-top: 136px;
}

/* Custom Font */

@font-face {
  font-family: "Inter";
  src: url(../../font/Inter/static/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(../../font/Inter/static/Inter-Bold.ttf);
  font-weight: bold;
}
