$headerNumber: 6;

@function defineFontSize($index) {
  @return 4 - 0.5 * ($index) + rem;
}

@function defineFontSizeResponsive($index) {
  @return (4 - 0.5 * ($index)) + 0.5 + rem;
}

@for $i from 1 through $headerNumber {
  .text--header#{$i} {
    font-weight: bold;
    font-size: defineFontSize($i);
  }

  .text--semi-header#{$i} {
    font-weight: 600;
    font-size: defineFontSize($i);
  }

  .text--extra-header#{$i} {
    font-weight: 900;
    font-size: defineFontSize($i);
  }

  @media (min-width: $desktop-breakpoint) {
    .text--header#{$i} {
      font-weight: bold;
      font-size: defineFontSizeResponsive($i);
    }

    .text--semi-header#{$i} {
      font-weight: 600;
      font-size: defineFontSizeResponsive($i);
    }

    .text--extra-header#{$i} {
      font-weight: 900;
      font-size: defineFontSizeResponsive($i);
    }
  }
}

.text--base-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
}

.text--small-text {
  font-size: 0.75rem;
}

.text--color-primary {
  color: var(--primary-color);
}

.text--color-sub {
  color: var(--secondary-text-color);
}

.text--clickable {
  cursor: pointer;

  &:hover {
    color: var(--primary-color-accent);
  }
}

/* Custom Font */

@font-face {
  font-family: "Inter";
  src: url(../../public/font/Inter/static/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url(../../public/font/Inter/static/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url(../../public/font/Inter/static/Inter-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url(../../public/font/Inter/static/Inter-Medium.ttf);
  font-weight: 500;
}
