.toogle-item__header {
  display: flex;
  align-items: center;
  gap: calc(var(--base-padding) / 4);
  margin-left: calc(var(--base-padding) * -1 + var(--base-padding) / 4);

  img {
    width: 12px;
    flex-shrink: none;
    cursor: pointer;
    transition: transform 0.3s;
  }
}

.toogle-chaper-list__toogle-item {
  cursor: pointer;
}

.toogle-chaper-list__toogle-item h2 {
  font-size: 1.5rem;
  cursor: pointer;
}

.toogle-item__svg--active {
  transform: rotate(90deg);
}
