.slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.slider {
  padding: 0 0.75em;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.pagination {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 33%;
  justify-content: space-between;
}

.pagination__circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #d9d9d9;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    width: 2em;
    height: 2em;
    position: absolute;
    top: -0.75em;
    left: -0.75em;
  }
}

.pagination__circle--active {
  transform: scale(1.25);
  background-color: var(--primary-color);
}
