$types: "primary", "secondary", "tertiary";

.btn {
  border-radius: 4px;
  padding: 16px 8px;
  display: grid;
  place-items: center;
  color: #fff;
  border: none;
  background: none;
}

@each $type in $types {
  .btn--#{$type} {
    background-color: var(--#{$type}-color);
  }

  .btn--#{$type}-invert {
    border: 2px solid var(--#{$type}-color);
    color: var(--#{$type}-color);
  }
}
