.feature-slider__card {
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  flex-shrink: 0;
  gap: 0.75em;
  max-width: 90vw;
  padding: 0 var(--base-padding);
}

.feature-slider__img {
  margin-top: 1.25rem;
  max-height: 600px;
}
