.feature-section-header {
  margin-bottom: 48px;
  text-align: center;
}

.feature-slider {
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 300vw;
  overflow: scroll;
}

.feature-slider__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100vw;
}
