.navbar-wrapper {
  display: flex;
  flex-flow: column;
  margin: 0 var(--base-padding);
}

.nav-bar {
  max-width: 100%;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-right: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar__naviguation {
  width: 40%;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    color: var(--primary-text-color);
    text-decoration: none;
  }
}

.divider-wrapper {
  max-width: 100%;
  .divider-wrapper__line {
    width: 100%;
    height: 1px;
    background-color: rgb(229, 231, 235);
  }
}

@media (min-width: $desktop-breakpoint) {
  .nav-bar {
    padding-top: 1em;
    padding-bottom: 1em;

    ul {
      font-size: 1rem;
    }
  }

  .nav-bar__naviguation {
    width: 30%;
  }
}
