$spacing: 1rem;

.hero-header {
  font-size: 2rem;
  font-weight: bold;
  line-height: 120%;
  margin: toRem(56px) var(--base-padding) 0 var(--base-padding);
}

.hero-wrapper {
  display: flex;
  flex-flow: column;
  gap: $spacing;
  height: 75vh;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: $spacing;
  margin: 0 auto;

  button {
    width: 100%;
  }
}

.hero-section__illustration {
  margin-top: toRem(32px);
}
