.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1.25rem;

  li {
    width: 100%;
    display: grid;
    grid-template-columns: 2em auto;
    align-items: center;
    cursor: pointer;

    border: 1px solid var(--stroke-light);
    border-radius: 4px;
    padding: 0.67em;
    box-sizing: border-box;

    &:has(> input:checked) {
      border-color: var(--primary-color);
    }

    & > * {
      cursor: pointer;
    }
  }
}

.form__inputs__input {
  display: grid;
  place-items: center;
  width: 1rem;
  height: 1rem;
  accent-color: var(--primary-color);
}

.form-button-wrapper {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.form-button-wrapper--back-button-disable button:last-of-type {
  background-color: #68717a;
  pointer-events: none;
}

.form__next-button {
  font-size: 1rem;
  font-weight: 700;
  flex-basis: 70%;
  order: 2;
}

.form__back-button {
  flex-basis: 30%;
  font-size: 1rem;
  font-weight: 700;
  order: 1;
}
