
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base
{
    :root {
        --main-text-color: #333;
        --secondary-text-color: #68717A;
        --primary-color: #0D6EFD;
        --secondary-color: #17A2B8;
        --tertiary-color: #333;
    }
}

@font-face {
    font-family: "Inter";
    src: url(./../font/Inter/static/Inter-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: "Inter";
    src: url(./../font/Inter/static/Inter-Bold.ttf);
    font-weight: bold;
}


body {
    font-family: "Inter";
    color: #333;
}

