.tabs__item {
  color: var(--disabled-text-color);
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.tabs__item--active {
  color: var(--primary-color);
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.3rem;
    width: 50%;
    height: 2px;
    border-radius: 8px;

    left: calc(50% - 25%);
    background-color: var(--primary-color);
  }
}
