.tabs__item {
  color: var(--disabled-text-color);
  margin-bottom: 2.5rem;
  cursor: pointer;
  position: relative;

  &:hover {
    color: var(--primary-color);
    opacity: 0.6;
  }
}

.tabs__item--active {
  color: var(--primary-color);
  opacity: 1 !important;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.3rem;
    width: 50%;
    height: 2px;
    border-radius: 8px;

    left: calc(50% - 25%);
    background-color: var(--primary-color);
    animation: popup 0.3s;
  }
}

@keyframes popup {
  0% {
    transform: scale(0.01);
    opacity: 0;
  }
  50% {
    transform: scale(1.08);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
